{% extends 'base.html' %}
{% load static %}
{% block title %}
  Enregistre une vente
{% endblock %}
{% block content %}
{% load humanize %}
  <!-- partial -->
<div class="container-fluid main-panel">
    <div>
        <div class='card shadow-lg mb-3'>
            <div class="card-header d-flex justify-content-between m-0 font-weight-bold text-primary">
                Enregistre une vente
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{ sale_form.as_p }}
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        Ajouter <i class="bi bi-plus-square"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th>Produit</th>
                                <th>Qté</th>
                                <th>Prix</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.product.name }}</td>
                                <td>{{ item.quantity }}</td>
                                <td>{{ item.selling_price|intcomma }} {{ shop.currency }}</td>
                                <td>{{ item.total_price|intcomma }} {{ shop.currency }}</td>
                                <td>
                                    <a class="btn btn-outline-danger btn-sm" href="">Supprimer <i class="bi bi-x-square"></i></a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">Aucun produit ajouté</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                    <h5>
                        <span class="fw-bold">Total :</span>
                        <span class="text-primary">{{ sale.total_amount|intcomma }} {{ shop.currency }}</span>
                    </h5>
                    <h6>
                        <span class="fw-bold" >Profit :</span>
                        <span class="text-success">{{ sale.total_profit|intcomma }} {{ shop.currency }}</span>
                    </h6>
                    {% if items %}
                        <a href="{% url 'sale_finalize' %}" class="btn btn-outline-primary btn-sm">
                            Finaliser la vente <i class="bi bi-check-square"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'sale_list' %}" class="btn btn-outline-secondary btn-sm">Retour <i class="bi bi-arrow-left-square"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
  </div>
  <!-- main-panel ends -->
{% endblock %}