{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            Gestion des ventes
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des ventes
            </h6>
        </div>
        <div class="card-body">
            {% for group in request.user.groups.all %}
                {% if group.name == "Admin" or group.name == "Caisse" %}
                <a href="{% url 'sale_create_caisse_multi' %}" class="btn btn-outline-primary btn-sm mb-3">
                    Nouvelle vente <i class="bi bi-plus-square"></i>
                </a>
                {% endif %}
            {% endfor %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <div class="input-group">
                   <input type="text" id="searchInput" class="form-control mb-2" placeholder="Rechercher ici...">
                </div>
                <table class="table table-sm table-striped" id="dataTable">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Bénéfice</th>
                            <th>Nom du client</th>
                            <th>Tel du client</th>
                            <th>Caissier</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for sale in sales %}
                        <tr>
                            <td>#{{ sale.id }}</td>
                            <td>{{ sale.created_at|date:"Y-m-d H:i" }}</td>
                            <td>{{ sale.total_amount|intcomma }} {{ company.currency }}</td>
                            <td class="text-success">
                                {{ sale.total_profit|intcomma }} {{ company.currency }}
                            </td>
                            <td>{{sale.client_name}}</td>
                            <td>{{sale.client_phone}}</td>
                            <td>{{sale.cashier}}</td>
                            <td>
                                <a href="{% url 'sale_detail' sale.id %}" class="btn btn-outline-info btn-sm">Voir detail <i class="bi bi-arrow-up-right-square"></i></a>
                                {% for group in request.user.groups.all %}
                                    {% if group.name == "Admin" %}
                                        <a href="{% url 'update_sale' sale.id %}" class="btn btn-outline-warning btn-sm">Modifier <i class="bi bi-arrows-angle-contract"></i></a>
                                        <a href="{% url 'delete_sale' sale.id %}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8" class="text-center">
                                Aucune vente enregistrée
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        row.style.display = rowText.includes(searchValue) ? "" : "none";
        });
    });
</script>
{% endblock %}