{% extends 'base.html' %}
{% block title %}
  Supplier | Admin
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            Confirmer la suppression
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                Voulez-vous supprimer "{{ supplier.name }}" ?
            </h6>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">Supprimer</button>
                <a href="{% url 'supplier_list' %}" class="btn btn-outline-secondary btn-sm">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}