{% extends 'base.html' %}
{% block title %}
  Cash operation Form
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            <h3>Nouvelle opération de caisse</h3>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                {% comment %} {{ title }} {% endcomment %}
            </h6>
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success btn-sm">Enregistrer</button>
                <a href="{% url 'cashoperation_list' %}" class="btn btn-outline-secondary btn-sm">Annuler</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}