{% extends 'base.html' %}
{% block title %}
    Caissier virtuel | Liste
{% endblock %}
{% block content %}
{% load humanize %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="card mb-4 shadow-lg">
        <div class="card-header m-0 font-weight-bold text-primary">
            Gestion des caissiers virtuel
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">
                Liste des caissiers virtuel
            </h6>
        </div>
        <div class="card-body">
            <a href="{% url 'cash_register_manage' %}" class="btn btn-outline-primary btn-sm mb-3">
                Ajouter caissier
            </a>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <div class="input-group">
                   <input type="text" id="searchInput" class="form-control mb-2" placeholder="Rechercher ici...">
                </div>
                <table class="table table-sm table-striped" id="dataTable">
                    <thead class="table-dark">
                        <tr>
                            <th>Nom caisse</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caisse in cash_registers %}
                        <tr>
                            <td>{{ caisse.name }}</td>
                            <td>
                                {% if caisse.is_active %}
                                    <span class="badge bg-success">Ouverte</span>
                                {% else %}
                                    <span class="badge bg-danger">Fermée</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if caisse.is_active %}
                                    <a href="{% url 'cash_register_close' caisse.id %}" class="btn btn-outline-warning btn-sm">Fermer</a>
                                {% else %}
                                    <a href="{% url 'cash_register_open' caisse.id %}" class="btn btn-outline-success btn-sm">Ouvrir</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">Aucune caisse trouvée.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script>
    document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const rows = document.querySelectorAll("#dataTable tbody tr");

    rows.forEach(row => {
        const rowText = row.textContent.toLowerCase();
        row.style.display = rowText.includes(searchValue) ? "" : "none";
        });
    });
</script>
{% endblock %}